<h1>Calculator</h1>
<form id='calculator' action='/calculate' method='POST'>
    <div>
        <input name='firstNum'> </input>
        <select name='operator' form='calculator'>
            <option value='+'>+</option>
            <option value='-'>-</option>
            <option value='*'>*</option>
            <option value='/'>/</option>
        </select>
        <input name='secondNum'> </input> =
        <input id='result'> </input>
        <button type='submit' >count</button>
    </div>
</form>
